.landingtitle{
    margin-top: 296px;
    font-size: 68px;
    font-weight: 700;
    line-height: 140%;

}
.landing-text{
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
}
.landingbtn{
    width: 110px;
    
}